.admin_home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid rgb(27, 40, 164) 2px;
  border-radius: 20px;
  width: 600px;
  height: 600px;
}

.admin_home_container * {
  margin: 20px 0;
}
