.admin_navbar_container {
    width: 100vw;
    height: 60px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 0 rgba(35, 35, 35, 0.75);
    position: fixed;
    z-index: 10;
}