.login_page {
  width: 100vw;
  height: 100vh;
  z-index: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #abbaab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #abbaab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login_box {
  width: 300px;
  height: 400px;
  border: solid black 1px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 6px 3px 3px rgb(93, 88, 88);
  z-index: 25;
  
}

.login_box * {
  margin: 15px 0;
}
.login_page img {
  margin-bottom: 50px;
}

button {
  background-color: #272350;
}
h3 {
  color: rgb(39, 35, 80);
}

.imgbg {
  width: 800px;
  height: 800px;
  position: fixed;
  left: 0;
  z-index: 0;
  opacity: 0.4;
}
.logo {
  z-index: 20;
}
